@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111525;
}

.notexpanded {
  @apply md:w-[25vw] w-[100vw];
}

.expanded {
  @apply md:w-[50vw] w-[100vw];
}

/* Add this CSS to your styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom::-webkit-scrollbar-track {
  background: transparent;
}

.custom::-webkit-scrollbar-thumb {
  background-color: #0e131f;
  border-radius: 10px;
  border: 2px solid #161c2e;
  width: 10px;
}

/* For Firefox */
.custom {
  scrollbar-color: #2d3d63 transparent;
  /* scrollbar-width: thin; */
}
